html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(42, 42, 42);
  background: linear-gradient(90deg, rgba(42, 42, 42, 1) 0%, rgba(26, 26, 26, 1) 15%, rgba(0, 0, 0, 1) 50%, rgba(26, 26, 26, 1) 85%, rgba(42, 42, 42, 1) 100%);
}
img {
    border: 0;
    padding-left: 42px;
}
.navbar-default {
  background-color: #e3e3e3;
  color: black;
  font-weight: bold;
  border-color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #2a2a2a;
  color: white;
  border-radius: 10px;
}
.navbar {
  color: black;
  border-radius: 0px;
}

.wrap {
  height: auto;
  margin: 0 auto -80px;
  /* footer height + space */
  min-height: 100%;
  padding: 0 0 80px;
  /* footer height + space */
  overflow: auto;
}

.footer {
  background-color: #111111;
  color: #ffffff;
  height: 60px;
  display: block;
  margin-top: 40px;
  position: relative;
  width: 100%;
}